<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Red's Inventory</title>
<link rel = "icon" href = "https://www.serebii.net/pokemonsleep/items/pokebiscuit.png" type = "image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<style>
    body {
        font-family: "Press Start 2P", cursive;
        font-size: small;
        background-color: #FFFFFF;
        color: #3d3c3c;
    }

    .title {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        font-family: "Press Start 2P", cursive;
        font-palette: #3d3c3c;
        color: #3d3c3c;
        background-color: #FFFFFF;
        padding: 10px;
        margin: 10px;
    }
</style>

<head>
    <div class = "title">
        <h1>About</h1>
    </div>
</head>


<body>
    <h1 align="center">Tegar Wahyu Khisbulloh</h1>
    <h2 align="center">PBP F</h2>
</body>
</html>