{% extends 'base.html' %}
{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<head>
    <div class = "title">
        <h1>Login</h1>
    </div>
</head>
<body>
    <div class = "login">

        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-container">
                <div class="input">
                    <table>
                        <tr>Username: </tr>
                        <tr><input type="text" name="username" placeholder="Username" class="form-control"></tr>
                        <tr>Password: </tr>
                        <br>
                        <tr><input type="password" name="password" placeholder="Password" class="form-control"></tr>
                        <div style="width: 50%; margin: 0 auto;">
                            <input class="button" type="submit" value="Login">
                        </div>
                    </table>
                </div>
            </div>
        </form>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}  
        <div class="footer">
            <h2>Don't have an account yet?</h2>    
            <a href="{% url 'main:register' %}">Register Now</a>
        </div>   
    </div>
</body>

<style>
    .footer {
        text-align: center;
        font-size: 10px;
        font-family: "Press Start 2P", cursive;
        font-palette: #3d3c3c;
        background-color: #FFFFFF;
        padding: 10px;
        margin: 10px;
    }
</style>
{% endblock content %}