{% extends 'base.html' %}
{% block content %}
<title>Red's Inventory</title>

<head>
    <div class = "title">
        <h1>Red's Inventory</h1>
        <h5>by: Tegar Wahyu Khisbulloh {{ class }}</h5>
    </div>
</head>

<body>
    <h3 align="center">Welcome, {{ user.username }}!</h3>
    <h3 align="center">You have {{ items|length }} item(s) in your inventory</h3>
    <!-- Jika tidak ada item, sembunyikan tabel -->
    {% if items %}
    <table align="center" border="1px" style="width: auto; line-height:30px;">
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th style="width: 700px">Description</th>
            <th>Date Added</th>
        </tr>

        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

        {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.date_added }}</td>
            <td>        
                <a href="{% url 'main:change_item_amount' item.id 'increase' %}"><button type="submit" class="button small">+</button></a>
                <a href="{% url 'main:change_item_amount' item.id 'decrease' %}"><button type="submit" class="button small">-</button></a>
            </td>
            <td>
                <a href="{% url 'main:delete_item' item.id %}"><button type="submit" class="button">Delete</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br />

    <div align="center">
        <a href="{%url 'main:add_item' %}"><button class="button">Add Item</button></a>
        <a href="{%url 'main:logout' %}"><button class="button">Logout</button></a>
    </div>

    <div align="center">
        <h5>Sesi terakhir login: {{ last_login }}</h5>
    </div>

</body>
</html>
{% endblock content %}