{% extends 'base.html' %}
{% block content %}
<title>Red's Inventory</title>

<head>
    <div class = "title">
        <h1>Red's Inventory</h1>
        <h5>by: Tegar Wahyu Khisbulloh PBP F</h5>
    </div>
</head>

<body>
    <h3 align="center">You have {{ items|length }} item(s) in your inventory</h3>
    <!-- Jika tidak ada item, sembunyikan tabel -->
    {% if items %}
    <table align="center" border="1px" style="width: auto; line-height:30px;">
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th style="width: 700px">Description</th>
            <th>Date Added</th>
        </tr>

        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

        {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.date_added }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br />

    <div align="center">
        <a href="{%url 'main:add_item' %}">
            <button class="button">
                Add Item
            </button>
        </a>

        <!-- Jika tidak ada item, sembunyikan button clear items -->
        {% if items %}
        <a href="{%url 'main:clear_items' %}">
            <button class="button">
                Clear Item
            </button>
        </a>
        {% endif %}

    </div>

    <div align="center">
        <a href="{%url 'main:logout' %}">
            <button class="button">
                Logout
            </button>
        </a>
        <h5>Sesi terakhir login: {{ last_login }}</h5>
    </div>

</body>
</html>
{% endblock content %}